/* This is your CSS files */
body {
    font-family: 'Roboto', sans-serif;
}

.site-header {
    background-color: #dc4c3e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    padding: 0px 32px 0px 40px;
    margin-left: 10px;
}

.left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.hamburger {
    border: none;
    background-color: #dc4c3e;
}

.search-bar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: #ffffff33;
    border-radius: 4px;
    align-items: center;
}

.search-bar img {
    margin: 4px 4px 4px 8px;
}

.search-bar input {
    border: none;
    background: none;
    margin-right: 8px;
    padding: 4px;
}

.search-bar input:focus {
    outline: none;
    box-shadow: none;
}

input::placeholder {
    color: #ffffffCC;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.task-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.task-counter p {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
}

.site-main {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.navbar {
    background-color: #fefbf2;
    width: 300px;
}

.nav-items li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0px 8px 0px 8px;
    margin-right: 8px;
    border-radius: 8px;
}

.nav-items li:hover {
    background-color: #ffffffCC;
}

@media (max-width: 480px) {
    .navbar {
        display: none;
    }
}

.main-text {
    font-size: 14px;
    color: #000000;
}

#current-tab {
    font-weight: bold;
} 

.task-count {
    font-size: 12px;
    color: #7e7d79;
}

.main-content {
    padding: 16px 32px 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main-content h1 {
    font-size: 20px;
}

.task-list {
    left: 0px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.task {
    padding: 16px 0px 16px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: lightgray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.task input{
    opacity: 0;
    cursor: pointer;
    width: 0px;
    height: 0px;
    margin: 0px;
}

.checkmark {
    border-radius: 100px;
    margin-right: 16px;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #7e7d79;
    flex-shrink: 0;
}

.task:hover input ~ .checkmark {
  background-color: #ccc;
}

.task input:checked ~ .checkmark {
  background-color: #7e7d7980;
}

.checkmark:after {
  content: "";
  display: none;
}

.task input:checked ~ .checkmark:after {
  display: block;
}

.task .checkmark:after {
    position: relative;
    top: 4px;
    left: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.page {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}